{
  "openapi": "3.1.0",
  "info": {
    "title": "LeuwongRR User API",
    "version": "1.1.0",
    "description": "Dokumentasi publik LeuwongRR REST API v1 untuk public safe endpoint dan User API. API ini hanya menampilkan endpoint yang aman untuk member/user dan tidak memuat route operasional, credential provider, callback sistem, maintenance, debug, atau konfigurasi server.\n\nSupports Sandbox API Key (`lrrs_v1_`) and Production API Key (`lrrp_v1_`)."
  },
  "servers": [
    {
      "url": "https://leuwongrr.online",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Endpoint public untuk mengecek status API."
    },
    {
      "name": "Auth",
      "description": "Endpoint validasi User API Token."
    },
    {
      "name": "Catalog",
      "description": "Endpoint public ringan untuk katalog produk dan metode pembayaran yang aman ditampilkan."
    },
    {
      "name": "Articles",
      "description": "Endpoint public untuk daftar dan detail artikel."
    },
    {
      "name": "User",
      "description": "Endpoint khusus user/member dengan User API Token."
    },
    {
      "name": "Balance",
      "description": "Endpoint untuk membaca saldo dan mutasi saldo milik user sendiri."
    },
    {
      "name": "Orders",
      "description": "Endpoint untuk membaca dan membuat order milik user sendiri."
    },
    {
      "name": "Invoices",
      "description": "Endpoint untuk membaca invoice milik user sendiri."
    },
    {
      "name": "Deposits",
      "description": "Endpoint untuk membaca deposit milik user sendiri."
    }
  ],
  "components": {
    "securitySchemes": {
      "userBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "User API Token",
        "x-default": "YOUR_USER_API_TOKEN",
        "description": "Masukkan User API Token dari halaman https://leuwongrr.online/user/api-access. Gunakan tanpa prefix Bearer jika field playground sudah otomatis menambahkan Bearer."
      }
    },
    "parameters": {
      "InvoicePath": {
        "name": "invoice",
        "in": "path",
        "required": true,
        "description": "Nomor invoice milik akun pemilik token.",
        "schema": {
          "type": "string",
          "example": "INV20260429113629619"
        }
      },
      "LimitQuery": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "description": "Jumlah data maksimum yang dikembalikan."
      },
      "ArticleSlugPath": {
        "name": "slug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "cara-top-up-robux-aman"
        },
        "description": "Slug artikel publik."
      },
      "ScopeQuery": {
        "name": "scope",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "order",
            "deposit"
          ],
          "example": "order"
        },
        "description": "Filter metode pembayaran berdasarkan kebutuhan order atau deposit."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "message",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "OK"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Unauthorized API token."
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "LeuwongRR User"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          }
        }
      },
      "Order": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "invoice_code": {
            "type": "string",
            "example": "INV20260429113629619"
          },
          "status": {
            "type": "string",
            "example": "processing"
          },
          "payment_status": {
            "type": "string",
            "example": "paid"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "invoice_code": {
            "type": "string",
            "example": "INV20260429113629619"
          },
          "type": {
            "type": "string",
            "example": "order"
          },
          "payment_status": {
            "type": "string",
            "example": "paid"
          },
          "amount": {
            "type": "number",
            "example": 348
          }
        }
      },
      "Balance": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "amount",
          "formatted",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Nominal saldo dalam satuan rupiah, disimpan sebagai integer.",
            "example": 25000
          },
          "formatted": {
            "type": "string",
            "description": "Nominal saldo dalam format Rupiah yang siap ditampilkan.",
            "example": "Rp25.000"
          },
          "currency": {
            "type": "string",
            "description": "Kode mata uang.",
            "example": "IDR"
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "checkApiHealth",
        "summary": "Check API health",
        "description": "Mengecek apakah REST API v1 aktif dan dapat diakses.",
        "security": [],
        "x-mint": {
          "metadata": {
            "title": "Check API health",
            "sidebarTitle": "Health check",
            "description": "Cek status LeuwongRR REST API v1."
          }
        },
        "responses": {
          "200": {
            "description": "API aktif",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "service": "LeuwongRR REST API v1",
                    "enabled": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/token/validate": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Validate User API Token",
        "description": "Memvalidasi User API Token dan mengembalikan informasi ringkas token serta akun pemilik token. Token dapat dikirim lewat header Authorization: Bearer USER_API_TOKEN.",
        "operationId": "validateUserApiToken",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "x-mint": {
          "title": "Validate token",
          "sidebarTitle": "Validate token",
          "description": "Cek apakah User API Token aktif dan bisa digunakan."
        },
        "responses": {
          "200": {
            "description": "Token valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "valid": true,
                    "connected": true,
                    "base_url": "https://leuwongrr.online/api/v1",
                    "token": {
                      "name": "User API Token",
                      "prefix": "lrrs_v1_",
                      "environment": "sandbox",
                      "last_used_at": "2026-05-01 09:00:00"
                    },
                    "user": {
                      "id": 1,
                      "name": "LeuwongRR User",
                      "email": "us***@example.com",
                      "status": "active",
                      "balance": 25000,
                      "currency": "IDR"
                    },
                    "next_steps": [
                      "GET /api/v1/me",
                      "GET /api/v1/me/balance",
                      "POST /api/v1/me/orders",
                      "GET /api/v1/me/invoices/{invoice}/status"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid atau tidak dikirim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized user API token."
                }
              }
            }
          },
          "403": {
            "description": "Akun pemilik token belum memenuhi syarat akses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Akun pemilik token tidak aktif atau belum memenuhi syarat API."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Terlalu banyak request. Silakan coba lagi beberapa saat."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/robux-packages": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List active Robux packages",
        "description": "Mengambil katalog paket Robux aktif. Endpoint public, tidak perlu User API Token.",
        "operationId": "listRobuxPackages",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "packages": [
                      {
                        "code": "RBX-100",
                        "name": "100 Robux",
                        "robux_amount": 100,
                        "price": 12000,
                        "formatted_price": "Rp12.000",
                        "currency": "IDR",
                        "description": "Paket Robux aktif",
                        "sort_order": 1
                      }
                    ],
                    "limit": 50
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/catalog/payment-methods": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List active payment methods",
        "description": "Mengambil metode pembayaran aktif yang aman ditampilkan. Response tidak menyertakan credential provider, secret, atau data operasional sensitif.",
        "operationId": "listPaymentMethods",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "payment_methods": [
                      {
                        "code": "qris",
                        "slug": "qris",
                        "name": "QRIS",
                        "type": "gateway",
                        "provider": "paydisini",
                        "usage_scope": "both",
                        "fee_type": "percent",
                        "fee_value": 0.7,
                        "unique_amount_enabled": false
                      }
                    ],
                    "scope": "order"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Parameter tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "List published articles",
        "description": "Mengambil daftar artikel public yang sudah published.",
        "operationId": "listPublishedArticles",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "articles": [
                      {
                        "title": "Cara Top Up Robux Aman",
                        "slug": "cara-top-up-robux-aman",
                        "category": "Robux",
                        "excerpt": "Panduan singkat top up Robux aman.",
                        "cover_image": "https://leuwongrr.online/uploads/articles/cover.webp",
                        "article_url": "https://leuwongrr.online/artikel/cara-top-up-robux-aman",
                        "published_at": "2026-04-29 10:00:00"
                      }
                    ],
                    "limit": 10
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/articles/{slug}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Get published article detail",
        "description": "Mengambil detail artikel public yang sudah published.",
        "operationId": "getPublishedArticle",
        "parameters": [
          {
            "$ref": "#/components/parameters/ArticleSlugPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "article": {
                      "title": "Cara Top Up Robux Aman",
                      "slug": "cara-top-up-robux-aman",
                      "category": "Robux",
                      "excerpt": "Panduan singkat top up Robux aman.",
                      "content": "<p>Isi artikel...</p>",
                      "article_url": "https://leuwongrr.online/artikel/cara-top-up-robux-aman",
                      "published_at": "2026-04-29 10:00:00"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Mengambil informasi akun user berdasarkan User API Token. Data selalu milik pemilik token.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Get current user",
            "sidebarTitle": "Current user",
            "description": "Ambil informasi akun user pemilik token."
          }
        },
        "responses": {
          "200": {
            "description": "User ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "user": {
                      "id": 1,
                      "name": "LeuwongRR User",
                      "email": "user@example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid atau tidak dikirim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized API token."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Terlalu banyak request. Silakan coba lagi beberapa saat."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/dashboard-summary": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get own dashboard summary",
        "description": "Mengambil ringkasan dashboard ringan milik user dari token yang digunakan.",
        "operationId": "getMyDashboardSummary",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "summary": {
                      "balance": {
                        "amount": 15666,
                        "formatted": "Rp15.666",
                        "currency": "IDR"
                      },
                      "lrr_coins": 0,
                      "discount": {
                        "percent": 0,
                        "expires_at": null
                      },
                      "orders": {
                        "total": 3,
                        "pending": 1,
                        "completed": 2,
                        "failed": 0,
                        "total_spent": 50000,
                        "total_robux": 400
                      },
                      "deposits": {
                        "total": 2,
                        "pending": 0,
                        "approved": 2,
                        "total_approved_amount": 100000
                      },
                      "invoices": {
                        "pending": 1
                      }
                    },
                    "generated_at": "2026-04-29 15:30:00"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/balance": {
      "get": {
        "tags": [
          "Balance"
        ],
        "operationId": "getMyBalance",
        "summary": "Check own balance",
        "description": "Mengambil saldo akun milik user pemilik token. Endpoint ini tidak menerima user_id agar saldo tidak bisa diarahkan ke akun lain.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Check own balance",
            "sidebarTitle": "Check balance",
            "description": "Ambil saldo akun milik token user."
          }
        },
        "responses": {
          "200": {
            "description": "Saldo user ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "balance": {
                      "amount": 25000,
                      "formatted": "Rp25.000",
                      "currency": "IDR"
                    },
                    "updated_at": "2026-04-29T09:30:00+07:00"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid atau tidak dikirim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Unauthorized API token."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Terlalu banyak request. Silakan coba lagi beberapa saat."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/balance/transactions": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "List own balance transactions",
        "description": "Mengambil mutasi saldo milik user dari token yang digunakan.",
        "operationId": "listMyBalanceTransactions",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "transactions": [
                      {
                        "id": 1,
                        "type": "deposit",
                        "amount": 50000,
                        "formatted_amount": "Rp50.000",
                        "balance_before": 0,
                        "formatted_balance_before": "Rp0",
                        "balance_after": 50000,
                        "formatted_balance_after": "Rp50.000",
                        "reference_type": "deposit",
                        "reference_id": 123,
                        "description": "Deposit saldo disetujui",
                        "created_at": "2026-04-29 15:00:00"
                      }
                    ],
                    "limit": 20
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/deposits": {
      "get": {
        "tags": [
          "Deposits"
        ],
        "summary": "List own deposits",
        "description": "Mengambil daftar deposit milik user dari token yang digunakan.",
        "operationId": "listMyDeposits",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "deposits": [
                      {
                        "invoice_code": "DEP20260429150000123",
                        "status": "approved",
                        "payment_status": "paid",
                        "amount": 50000,
                        "formatted_amount": "Rp50.000",
                        "currency": "IDR",
                        "payment_type": "manual",
                        "payment_method": "bank-transfer",
                        "payment_channel": "manual",
                        "invoice_url": "https://leuwongrr.online/user/invoice/DEP20260429150000123",
                        "proof_uploaded_at": "2026-04-29 15:04:00",
                        "approved_at": "2026-04-29 15:20:00",
                        "created_at": "2026-04-29 15:00:00"
                      }
                    ],
                    "limit": 20
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/deposits/{invoice}": {
      "get": {
        "tags": [
          "Deposits"
        ],
        "summary": "Get own deposit detail",
        "description": "Mengambil detail deposit/invoice deposit milik user dari token yang digunakan.",
        "operationId": "getMyDeposit",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoicePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "deposit": {
                      "invoice_code": "DEP20260429150000123",
                      "status": "approved",
                      "amount": 50000,
                      "formatted_amount": "Rp50.000",
                      "currency": "IDR"
                    },
                    "invoice": {
                      "invoice_code": "DEP20260429150000123",
                      "type": "deposit",
                      "payment_status": "paid",
                      "amount": 50000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Data tidak ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listOwnOrders",
        "summary": "List own orders",
        "description": "Mengambil daftar order milik user pemilik token.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "List own orders",
            "sidebarTitle": "List orders",
            "description": "Ambil daftar order milik akun sendiri."
          }
        },
        "responses": {
          "200": {
            "description": "Daftar order user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "orders": [
                      {
                        "invoice_code": "INV20260429113629619",
                        "status": "processing",
                        "payment_status": "paid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "createOwnOrder",
        "summary": "Create own order",
        "description": "Membuat order baru untuk akun pemilik User API Token. Harga, diskon, invoice, status, dan total transaksi dihitung oleh server LeuwongRR.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Kunci unik dari bot/client untuk mencegah double order saat request terulang. Gunakan nilai unik per order.",
            "schema": {
              "type": "string",
              "example": "discord-123456789-order-001"
            }
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Create own order",
            "sidebarTitle": "Create order",
            "description": "Buat order baru milik akun sendiri lewat User API."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "order_type",
                  "roblox_username",
                  "place_id",
                  "roblox_pass_id"
                ],
                "properties": {
                  "order_type": {
                    "type": "string",
                    "enum": [
                      "gamepass",
                      "vip_server"
                    ],
                    "example": "gamepass"
                  },
                  "roblox_username": {
                    "type": "string",
                    "example": "LeuwongUser"
                  },
                  "place_id": {
                    "type": "integer",
                    "example": 123456789
                  },
                  "roblox_pass_id": {
                    "type": "integer",
                    "example": 987654321
                  },
                  "payment_method": {
                    "type": "string",
                    "description": "Gunakan invoice untuk testing aman. Bisa memakai kode metode pembayaran gateway yang aktif jika tersedia.",
                    "example": "invoice"
                  },
                  "client_reference": {
                    "type": "string",
                    "description": "Referensi opsional dari bot/client kamu.",
                    "example": "discord-order-001"
                  }
                }
              },
              "example": {
                "order_type": "gamepass",
                "roblox_username": "LeuwongUser",
                "place_id": 123456789,
                "roblox_pass_id": 987654321,
                "payment_method": "invoice",
                "client_reference": "bot-order-001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order yang sama ditemukan dari Idempotency-Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "201": {
            "description": "Order berhasil dibuat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "Order berhasil dibuat.",
                  "data": {
                    "invoice": {
                      "invoice_code": "INV20260429123456001",
                      "type": "order",
                      "payment_status": "pending",
                      "amount": 15000,
                      "formatted_amount": "Rp15.000",
                      "currency": "IDR",
                      "payment_method": "",
                      "payment_url": "",
                      "invoice_url": "https://leuwongrr.online/user/invoice/INV20260429123456001",
                      "order": {
                        "status": "pending",
                        "order_type": "gamepass",
                        "roblox_username": "LeuwongUser",
                        "robux_amount": 100
                      }
                    },
                    "gateway": null,
                    "idempotent": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validasi gagal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "forbiddenFields": {
                    "value": {
                      "success": false,
                      "message": "Request berisi field yang tidak diizinkan untuk User API: user_id.",
                      "error": {
                        "code": "FORBIDDEN_FIELDS",
                        "fields": [
                          "user_id"
                        ]
                      }
                    }
                  },
                  "robloxFailed": {
                    "value": {
                      "success": false,
                      "message": "Validasi resmi Roblox gagal.",
                      "error": {
                        "code": "ROBLOX_VALIDATION_FAILED"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/orders/{invoice}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "getOwnOrderByInvoice",
        "summary": "Get own order",
        "description": "Mengambil detail order berdasarkan nomor invoice. Endpoint ini hanya bisa membaca order milik user pemilik token.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoicePath"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Get own order",
            "sidebarTitle": "Order detail",
            "description": "Ambil detail order berdasarkan invoice milik akun sendiri."
          }
        },
        "responses": {
          "200": {
            "description": "Order ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "order": {
                      "invoice_code": "INV20260429113629619",
                      "status": "processing",
                      "payment_status": "paid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order tidak ditemukan atau bukan milik user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Order tidak ditemukan."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/invoices/{invoice}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "getOwnInvoiceByInvoiceCode",
        "summary": "Get own invoice",
        "description": "Mengambil detail invoice milik user pemilik token.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoicePath"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Get own invoice",
            "sidebarTitle": "Invoice detail",
            "description": "Ambil detail invoice milik akun sendiri."
          }
        },
        "responses": {
          "200": {
            "description": "Invoice ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "invoice": {
                      "invoice_code": "INV20260429113629619",
                      "type": "order",
                      "payment_status": "paid",
                      "amount": 348
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invoice tidak ditemukan atau bukan milik user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Invoice tidak ditemukan."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/invoices/{invoice}/status": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "getOwnInvoiceStatus",
        "summary": "Get own invoice status",
        "description": "Mengambil status invoice milik user pemilik token.",
        "security": [
          {
            "userBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoicePath"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Get own invoice status",
            "sidebarTitle": "Invoice status",
            "description": "Ambil status invoice milik akun sendiri."
          }
        },
        "responses": {
          "200": {
            "description": "Status invoice ditemukan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true,
                  "message": "OK",
                  "data": {
                    "invoice": {
                      "invoice_code": "INV20260429113629619",
                      "type": "order",
                      "payment_status": "paid",
                      "amount": 348
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invoice tidak ditemukan atau bukan milik user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "message": "Invoice tidak ditemukan."
                }
              }
            }
          },
          "429": {
            "description": "Request terlalu sering",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
